<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{titulo}}</title>

    {{#if useTailwind}}
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    {{else}}
    <!-- Link CSS -->
    <link rel="stylesheet" href="style.css">
    {{/if}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }
        
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>