<div class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-40 max-w-7xl relative w-screen">
    <div class="text-center mx-auto my-24">
        <h1 class="text-3xl md:text-3xl font-display font-bold italic text-violet-900 dark:text-violet-500 pt-3">UPS...</h1>
        <span
            class="text-3xl md:text-3xl md:block text-zinc-800 dark:text-zinc-400 font-display transition duration-500">
            Página no encontrada
        </span>
    </div>
    <div class="text-center mx-auto">
        <a href="/">
            <h1
                class="border border-zinc-800 rounded-2xl p-1 md:p-2 w-28 mx-auto text-lg md:text-3xl md:block text-zinc-800 dark:text-zinc-400 font-display transition duration-500">
                Volver</h1>
        </a>
    </div>
</div>