<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi Empresa</h1>
    <form action="{{url}}/login" method="POST">
        <p><label>Usuario:</label><input type='text' name="user"></p>
        <p><label>Contraseña:</label><input type="password" name='pass'></p>
 
        <input type="submit" value="Enviar">

    </form>


</body>
</html>