<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi Empresa</h1>
    <nav>
        <a href="{{url}}/nuevo">Nuevo</a>
        <a href="listar">Listar</a>
        <a href="modificar">Modificar</a>
        <a href="eliminar">Eliminar</a>
    </nav>
    <hr>
    <img src="{{url}}/empresa.png" alt="Imágen de Empresa">
    <hr>
   

</body>
</html>