<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }
    </style>
</head>

<body>

    <h1>Nuevo Objeto</h1>
    <form action="{{url}}/agregar" method="POST">
        <p><label>Numero registro:&nbsp;</label><input type="number" name="NumeroRegistro"></p>
        <p><label>Nombre Pieza:&nbsp;</label><input type="text" name="NombrePieza"></p>
        <p><label>Medida Pieza:&nbsp;</label><input type="text" name="MedidaPieza"></p>
        <p><label>Material Objeto:&nbsp;</label><input type="text" name="MaterialObjeto"></p>
        <p><label>Fecha Adquisici칩n:&nbsp;</label><input type="date" name="FechaAdquisicion"></p>
        <p><label>Forma Adquirida:&nbsp;</label><input type="text" name="FormaAdquirida"></p>
        <p><label>A침o Pieza:&nbsp;</label><input type="number" name="A침oPieza"></p>
        <p><label>Estado Pieza:&nbsp;</label><input type="text" name="EstadoPieza"></p>
        <p><label>Cantidad:&nbsp;</label><input type="number" name="Cantidad"></p>
        <p><label>Observaci칩n:&nbsp;</label><input type="text" name="Observacion"></p>
        <p><input type="hidden" name="BajaLogica" value="true"></p>
        <br>
        <input type="submit" value="Enviar">
    </form>


</body>

</html>
