<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuevo Objeto</h1>
    <form action="{{url}}/agregar" method="POST">
        <p><label>idPieza:&nbsp;</label><input type="text"   name="idPieza"></p>

        <p><label>Numero registro:&nbsp;</label><input type="number"   name="nroRegistro"></p>
        <p><label>Nombre Pieza:&nbsp;  </label><input type="text" name="nombrePieza">  </p>
        <p><label>medida Pieza:&nbsp; </label><input type="text"  name="medidaPieza"> </p>
        <p><label>material objeto:&nbsp; </label><input type="text"  name="materialObjeto"> </p>
       
        <p><label>fecha adquisici칩n:&nbsp;  </label><input type="date" name="fechaAdquisicion">  </p>
        <p><label>forma Adquirida:&nbsp; </label><input type="text"  name="formaAdquirida"> </p>
        <p><label>a침o pieza:&nbsp; </label><input type="number"  name="a침oPieza"> </p>
       
        <p><label>estado pieza:&nbsp;  </label><input type="text" name="estadoPieza">  </p>
        <p><label>cantidad:&nbsp; </label><input type="number"  name="cantidad"> </p>
        <p><label>observaci칩n :&nbsp; </label><input type="text"  name="observacion"> </p>                  
        

        <br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>