
<form action="/prestamo" method="POST">
    <p><label>Numero de préstamo:&nbsp;</label><input type="number" name="numeroPrestamo"></p>
    <p><label>Evento:&nbsp;</label><input type="text" name="eventoPrestamo"></p>
    <p><label>Fecha de préstamo:&nbsp;</label><input type="date" name="FechaPrestamo"></p>
    <p><label>Fecha devolución:&nbsp;</label><input type="text" name="fechaDevolucion"></p>
    <p><label>Cantidad:&nbsp;</label><input type="number" name="cantidad"></p>
    <p><label>Observación:&nbsp;</label><input type="text" name="observacionPrestamo"></p>
    <br>
    <input type="submit" value="Enviar">
</form>

