<div class="body">
    <div class="container">
        <div class="left1-section"></div>
        <div class="right1-section">
            {{#if error}}
            <p style="color: red;">{{error}}</p>
            {{/if}}
            <div class="login-container">
                <form class="login-form" action="/agregarUser" method="POST">
                    <h2 class="login-title"><i class="fas fa-user-circle"></i>Registrate Acá</h2>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Nombre" name="nombre" required>
                    </div>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Usuario" name="usuario" required>
                    </div>
                    <div class="form-control">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" placeholder="Contraseña" name="pass" required>
                    </div>
                    <button type="submit" class="login-button">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</div>